<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Serene | Business</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="/js/12.js"> </script>
    
	<link rel="icon" type="image/x-icon" href="/images/apple-touch-icon.png">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/hero.css">
    <link rel="stylesheet" href="/css/intro.css">
    <link rel="stylesheet" href="/css/banner.css">
    <!--Svg Css Start-->
    <link href="http://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!--Svg Css End-->
    <link rel="stylesheet" href="/css/chill.css">
    <link rel="stylesheet" href="/css/star.css">
    <link rel="stylesheet" href="/css/testimonial.css">
    <link rel="stylesheet" href="/css/footer.css">


    <link rel="stylesheet" href="/css/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/css/animate.css">
    
    <link rel="stylesheet" href="/css/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/css/aos.css">

    <link rel="stylesheet" href="/css/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/css/jquery.timepicker.css">

    

    <link rel="stylesheet" href="/css/css/icomoon.css">
    <link rel="stylesheet" href="/css/css/style.css">

    <style>
      #progress-container {
        position: fixed;
        top: 120px;
        left: 0;
        width: 100%;
        height: 5px; /* Adjust the height of the progress bar */
        background-color: #ddd; /* Background color of the progress bar container */
        z-index: 1000; /* Make sure it's on top of other elements */
        }
        
        #progress-bar {
        height: 100%;
        width: 0;
        background-color: #ca3535; /* Color of the progress bar */
        }
    </style>
  </head>
  <body>
    
	<nav style='height: 120px;'class="navbar">
        <ul>
          <a div onclick = "reh()" href="/templates/index.html" class="logo">Serene</div>  </a>  
            <li><a href="/templates/sleep.html" class="a1">Sleep</a></li>
            <li><a href="/templates/divedeep.html" class="a2">Dive Deep</a></li>
            <li><a href="/templates/serenebusiness.html" class="a3">Serene Business</a></li>
            <li><a href="#" class="a4">Serene Health</a></li>
            <li><a href="/templates/premium.html" class="a5">Premium</a></li>
            <li><a href="/templates/serenehealth.html" class="a6">Articles & Blogs</a></li>
            <li><a href="/templates/login.html" class="a7">Log In</a></li>
            <li><a href="/templates/login.html" class="button" onclick="meh()">Try Serene For Free</a></li>
        </ul>
        <div id="progress-container">
          <div id="progress-bar" style="background-color: #e92795;"></div>
        </div>
    </nav>
<!--navbar end-->
<!--section start-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/images/smiling-confident-female-leader-with-team-during-coffee-break-workplace_662251-1591.avif');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">Our Blog</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="/templates/index.html">Home  &#8594; </a></span> <a href="/templates/serenebusiness.html"><span>Business  &#8594; </a></p>
        </div>
      </div>
    </div>
  </section>
      
      <section class="ftco-section">
          <div class="container">
              <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-6 ftco-animate">
                  <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/images/mindful-calm-young-woman-taking-break-office-meditation_1163-5128.avif');">
                    </a>
                    <div class="text d-flex py-4">
                      <div class="meta mb-3">
                        <div><a href="#">Jan. 20, 2019</a></div>
                        <div><a href="#">Admin</a></div>
                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                      </div>
                      <div class="desc pl-3">
                          <h3 class="heading"><a href="#">Workspace calmness fosters focused productivity by minimizing distractions and promoting a serene environment.</a></h3>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 ftco-animate">
                  <div class="blog-entry" data-aos-delay="100">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/images/young-cheerful-entrepreneurs-having-fun-while-working-together-office_637285-2582.avif');">
                    </a>
                    <div class="text d-flex py-4">
                      <div class="meta mb-3">
                        <div><a href="#">Jul. 03, 2020</a></div>
                        <div><a href="#">Ramesh</a></div>
                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                      </div>
                      <div class="desc pl-3">
                          <h3 class="heading"><a href="#">It emphasizes a balance between ergonomic design, mindful practices, and open communication.</a></h3>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 ftco-animate">
                  <div class="blog-entry" data-aos-delay="200">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/images/people-practicing-yoga-outside_23-2149392214.avif');">
                    </a>
                    <div class="text d-flex py-4">
                      <div class="meta mb-3">
                        <div><a href="#">Dec. 31, 2020</a></div>
                        <div><a href="#">Harry</a></div>
                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                      </div>
                      <div class="desc pl-3">
                          <h3 class="heading"><a href="#">Meditation is a practice that cultivates mindfulness, promoting mental clarity and inner peace.</a></h3>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 ftco-animate">
                  <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/images/woman-beach-with-her-baby-enjoying-sunset_52683-144126.avif');">
                    </a>
                    <div class="text d-flex py-4">
                      <div class="meta mb-3">
                        <div><a href="#">Jan. 09, 2019</a></div>
                        <div><a href="#">Krishna</a></div>
                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                      </div>
                      <div class="desc pl-3">
                          <h3 class="heading"><a href="#">Nature's ocean whispers tranquility through rhythmic waves, inviting a serene dance with the tides.</a></h3>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 ftco-animate">
                  <div class="blog-entry" data-aos-delay="100">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/images/smiling-mates-relaxing-park_23-2148219103.avif');">
                    </a>
                    <div class="text d-flex py-4">
                      <div class="meta mb-3">
                        <div><a href="#">Apr. 13, 2022</a></div>
                        <div><a href="#">Priya</a></div>
                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                      </div>
                      <div class="desc pl-3">
                          <h3 class="heading"><a href="#">A tranquil workspace serves as a foundation for clear thinking, effective collaboration, and maintaining a healthy work-life balance.</a></h3>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 ftco-animate">
                  <div class="blog-entry" data-aos-delay="200">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/images/lonely-woman-sitting-waterfront-raft_1150-7467.avif');">
                    </a>
                    <div class="text d-flex py-4">
                      <div class="meta mb-3">
                        <div><a href="#">Oct. 07, 2020</a></div>
                        <div><a href="#">Shah</a></div>
                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                      </div>
                      <div class="desc pl-3">
                          <h3 class="heading"><a href="#">A serene solitude where inner tranquility whispers, offering solace in the quietude of one's own company. It's a sacred pause, a melody of stillness echoing self-discovery.</a></h3>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row no-gutters my-5">
                <div class="col text-center">
                  <div class="block-27">
                    <ul>
                      <li><a href="#">&lt;</a></li>
                      <li class="active"><span>1</span></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#">&gt;</a></li>
                    </ul>
                  </div>
                </div>
              </div>
        </div>

        <div class="col-lg-4 sidebar ftco-animate">
          <div class="sidebar-box ftco-animate">
              <h3>Category</h3>
            <ul class="categories">
              <li><a href="https://www.simplehomesimplelife.com/blog/8-tips-for-a-healthy-workspace" target="_blank">Workspace Calmness <span>(6)</span></a></li>
              <li><a href="https://www.saimaalife.com/tranquility-of-nature-is-good-for-the-wellbeing-of-your-mind/" target="_blank">Nature Tranquility <span>(8)</span></a></li>
              <li><a href="https://www.scmp.com/lifestyle/health-wellness/article/3021655/how-solitude-can-bring-happiness-and-peace-mind-just-dont" target="_blank">Alone Calmness <span>(2)</span></a></li>
              <li><a href="https://www.helpguide.org/articles/mental-health/mood-boosting-power-of-dogs.htm" target="_blank">Animal Happiness <span>(2)</span></a></li>
            </ul>
          </div>

          <div class="sidebar-box ftco-animate">
            <h3>Popular Articles</h3>
            <div class="block-21 mb-4 d-flex">
              <a class="blog-img mr-4" style="background-image: url(/images/images/view-cute-dog-sleeping-outdoors-nature_23-2150676255.avif);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">Animal calmness is often a result of a secure environment and a sense of safety, influencing their overall well-being. </a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> Oct. 04, 2018</a></div>
                  <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                </div>
              </div>
            </div>
            <div class="block-21 mb-4 d-flex">
              <a class="blog-img mr-4" style="background-image: url(/images/images/beautiful-view-greenery-bridge-forest-perfect-background_181624-17827.avif);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">Natural calmness emanates from embracing the present moment, harmonizing with the surrounding environment</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> Jan. 24, 2020</a></div>
                  <div><a href="#"><span class="icon-person"></span> Harry </a></div>
                  <div><a href="#"><span class="icon-chat"></span> 1</a></div>
                </div>
              </div>
            </div>
            <div class="block-21 mb-4 d-flex">
              <a class="blog-img mr-4" style="background-image: url(/images/images/side-view-woman-with-chihuahua-dog_23-2150265009.avif);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">A serene environment promotes better behavior, ensures proper development.</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> Apr. 19, 2019</a></div>
                  <div><a href="#"><span class="icon-person"></span> Krishna</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 9</a></div>
                </div>
              </div>
            </div>
          </div>

          <div class="sidebar-box ftco-animate">
            <h3>Tag Cloud</h3>
            <ul class="tagcloud m-0 p-0">
              <a href="#" class="tag-cloud-link">House</a>
              <a href="#" class="tag-cloud-link">Office</a>
              <a href="#" class="tag-cloud-link">Nature</a>
              <a href="#" class="tag-cloud-link">Workspace</a>
              <a href="#" class="tag-cloud-link">Animals</a>
              <a href="#" class="tag-cloud-link">Medicines</a>
              <a href="#" class="tag-cloud-link">Yoga</a>
            </ul>
          </div>

          <div class="sidebar-box ftco-animate">
              <h3>Archives</h3>
            <ul class="categories">
                <li><a href="#">December 2020 <span>(30)</span></a></li>
                <li><a href="#">Novemmber 2018 <span>(20)</span></a></li>
              <li><a href="#">September 2019 <span>(6)</span></a></li>
              <li><a href="#">August 2022 <span>(8)</span></a></li>
            </ul>
          </div>


          <div class="sidebar-box ftco-animate">
            <h3>Side Note</h3>
            <p>"Explore our blog page for insightful articles on mindfulness, stress relief, and the transformative power of calmness. Discover expert tips, inspiring stories, and the latest trends in the world of tranquility. Let our side note be your gateway to a calmer, more balanced life."</p>
          </div>
        </div><!-- END COL -->
      </div>
          </div>
      </section>
<!--section end-->
<!--footer start-->
    <footer class="text-gray-600 body-font" id="foot-5">
        <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
          <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4" id="foot-6">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">COMPANY</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">About</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Carrers</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Press</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Blog</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4" id="foot-6">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">OFFERS</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Buy a Gift</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Redeem a Gift
                </a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Family Plan</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Serene Health</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4" id="foot-6">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">HELP</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">FAQ</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Contact Us</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Accessibility Statement</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Cookies</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4" id="foot-6">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Address</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Adani Institue of Infrastructure Engineering</a>
                </li>
              </nav>
            </div>
          </div>
        </div>
        <div class="bg-gray-100">
          <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-500 text-sm text-center sm:text-left">Copyright © 2023 Serene. All rights reserved
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
              <a class="text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                  <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                  <circle cx="4" cy="4" r="2" stroke="non+6e"></circle>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </footer>
      <script src="/packages/navbar.js"></script>
  <script src="/packages/js/jquery.min.js"></script>
  <script src="/packages/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/packages/js/popper.min.js"></script>
  <script src="/packages/js/bootstrap.min.js"></script>
  <script src="/packages/js/jquery.easing.1.3.js"></script>
  <script src="/packages/js/jquery.waypoints.min.js"></script>
  <script src="/packages/js/jquery.stellar.min.js"></script>
  <script src="/packages/js/owl.carousel.min.js"></script>
  <script src="/packages/js/jquery.magnific-popup.min.js"></script>
  <script src="/packages/js/aos.js"></script>
  <script src="/packages/js/jquery.animateNumber.min.js"></script>
  <script src="/packages/js/bootstrap-datepicker.js"></script>
  <script src="/packages/js/jquery.timepicker.min.js"></script>
  <script src="/packages/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/packages/js/google-map.js"></script>
  <script src="/packages/js/main.js"></script>
  <script>    window.onscroll = function() {myFunction()};

    function myFunction() {
    var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
    var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    var scrolled = (winScroll / height) * 100;
    document.getElementById("myBar").style.width = scrolled + "%";
    }
    
    function reh(){
      window.location.href = "/templates/index.html";
    }
    document.addEventListener("DOMContentLoaded", function() {
      const progressBar = document.getElementById("progress-bar");
    
      window.addEventListener("scroll", function() {
        const scrollY = window.scrollY;
        const windowHeight = window.innerHeight;
        const documentHeight = document.documentElement.scrollHeight;
    
        const scrollPercentage = (scrollY / (documentHeight - windowHeight)) * 100;
        progressBar.style.width = scrollPercentage + "%";
      });
    });
    </script>



    
  </body>
</html>