<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/apple-touch-icon.png">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/hero.css">
    <link rel="stylesheet" href="/css/intro.css">
    <link rel="stylesheet" href="/css/banner.css">
    <!--Svg Css Start-->
    <link href="http://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!--Svg Css End-->
    <link rel="stylesheet" href="/css/chill.css">
    <link rel="stylesheet" href="/css/star.css">
    <link rel="stylesheet" href="/css/testimonial.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/health.css">
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <title>Serene</title>

    <style>
      #progress-container {
        position: fixed;
        top: 110px;
        left: 0;
        width: 100%;
        height: 5px; /* Adjust the height of the progress bar */
        background-color: #ddd; /* Background color of the progress bar container */
        z-index: 1000; /* Make sure it's on top of other elements */
        }
        
        #progress-bar {
        height: 100%;
        width: 0;
        background-color: #ca3535; /* Color of the progress bar */
        }
    </style>
    <style>
      @media only screen and (max-device-width: 1366px) {
        .parallax {
          background-attachment: scroll;
        }
      }
      .parallax {
        /* The image used */
        background-image: url("/images/stress-player-relief.webp");
      
        /* Set a specific height */
        min-height: 500px;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      </style>
</head>
<body>
    <!-------------navbar start------------->
    <nav class="navbar">
        <ul>
            <a <div onclick = "reh()" href="/templates/index.html" class="logo">Serene</div>  </a>  
            <li><a href="/templates/sleep.html" class="a1">Sleep</a></li>
            <li><a href="/templates/divedeep.html" class="a2">Dive Deep</a></li>
            <li><a href="/templates/serenebusiness.html" class="a3">Serene Business</a></li>
            <li><a href="/templates/serenehealth.html" class="a4">Serene Health</a></li>
            <li><a href="/templates/premium.html" class="a5">Premium</a></li>
            <li><a href="/templates/blog.html" class="a6">Articles & Blogs</a></li>
            <li><a href="/templates/login.html" class="a7">Log In</a></li>
            <li><a href="/templates/login.html" class="button" onclick="meh()">Try Serene For Free</a></li>
            <div id="progress-container">
			  <div id="progress-bar" style="background-color: #fff700;"></div>
		  </div>
        </ul>
    </nav>
    <!-------------navbar end------------->

    <section class="health">
       <img src="/images/tree.jpg" alt="">
       <h1>Healing Calmly</h1>
    </section>
    <section class="post">
      <h1>Lose Yourself in our most calming and Sleep Enhancing Virtual Tours</h1>
    </section>
   
    <section class="vid">
      <h1>Puri Anyar Kerambitan Tour</h1>
      <p>Puri Anyar Kerambitan is a historical site located in the village of Kerambitan in Tabanan Regency, Bali, Indonesia. "Puri" translates to "palace" in Indonesian, and Puri Anyar Kerambitan refers to the royal palace complex in Kerambitan.

        This palace holds significant cultural and historical importance in Bali, as it was once the residence of the royal family of Kerambitan. The palace showcases traditional Balinese architecture, intricate designs, and cultural artifacts that reflect the island's rich heritage.</p>
        <iframe width="100%" height="480" src="https://my.matterport.com/show/?m=zGJFHGiHMhF" frameborder="0" allowfullscreen allow="xr-spatial-tracking"></iframe>
    </section>

  
    <section class="tour">
      <h1>You Can Get More Tours Like Forest Tours on Serene Premium</h1>
      <p>Sample Video of Tour</p>
      <p class="pap">A Tropical Video of Rainforest Captured at Night, <br>Enhancing the relaxation and giving deep relief from stress.</p>

      <div class="papy">
        <div class="b1">
        <video id="loopvideo" style="border-radius:28px;" autoplay muted  loop playsinline src="/video/nightvid.mov" controls="play infinite"></video></div>
        <div class="b1">
          <video id="loopvideo" style="border-radius:28px;" autoplay muted loop playsinline src="/video/nightvid.mov" controls="play infinite"></video></div>
        </div>

        <div class="papy2">
        <div class="b1">
          <video id="loopvideo" style="border-radius:28px;" autoplay muted  loop playsinline src="/video/nightvid.mov" controls="play infinite"></video></div>
        </div>
    </section>
    

    

    <!-------------footer section start------------->

    <footer class="text-gray-600 body-font" id="foot-5">
        <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
          <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4" id="foot-6">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">COMPANY</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">About</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Carrers</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Press</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Blog</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4" id="foot-6">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">OFFERS</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Buy a Gift</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Redeem a Gift
                </a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Family Plan</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Serene Health</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4" id="foot-6">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">HELP</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">FAQ</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Contact Us</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Accessibility Statement</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Cookies</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4" id="foot-6">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Address</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Adani Institue of Infrastructure Engineering</a>
                </li>
              </nav>
            </div>
            
          </div>
        </div>
        <div class="bg-gray-100">
          <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-500 text-sm text-center sm:text-left">Copyright © 2023 Serene. All rights reserved

              
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
              <a class="text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                  <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                  <circle cx="4" cy="4" r="2" stroke="non+6e"></circle>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </footer>

      <!-------------footer section end------------->

    



    



    

    <!-------------script start------------->
    <!-------------navbar script start------------->
    <script src="/packages/navbar.js"></script>
    <!-------------navbar script end------------->

    <!-------------chill section script start------------->
    <script src="/packages/chill.js"></script>
    <!-------------chill section script end------------->
    <script src="/packages/slide.js"></script>
    <script>
       
    function reh(){
      window.location.href = "/templates/index.html";
    }


    document.addEventListener("DOMContentLoaded", function() {
        const progressBar = document.getElementById("progress-bar");
      
        window.addEventListener("scroll", function() {
          const scrollY = window.scrollY;
          const windowHeight = window.innerHeight;
          const documentHeight = document.documentElement.scrollHeight;
      
          const scrollPercentage = (scrollY / (documentHeight - windowHeight)) * 100;
          progressBar.style.width = scrollPercentage + "%";
        });
      });
    </script>
    <!-------------script end------------->
</body>
</html>